# Assignment : Python - Data Structure

DATA TYPE AND DATA STRUCTURE THEORITICAL Q & A

1. What are data structures, and why are they important?
  - Data structures are the way of organizing and storing the data so that it can be accessed and modified efficiently. eg, Tuple, String, List, Dictionary, array etc.
  They are important because they are crucial for efficient data management and algorithm implementation, impacting the performance and scalability of software applications.

2. Explain the difference between mutable and immutable data types with examples?
  - Mutable data types are the type of data type which can be changed after its creation. eg, lists, dictionary, etc.
  
    Example: list=[1,2,3]
  list[0]=4 #here now the original list[1,2,3] after list[0]=4 has become list[4,2,3]

    Immutable data types are the type of data type which cannot be changed after its creation. eg, Tuple, String.
  Example: my_tuple = (1, 2, 3)
  my_tuple[0] = 4 # This will raise a TypeError

3. What are the main differences between lists and tuples in Python?
  - Main Differences Between Lists and Tuples in Python:

    Mutability:

    Lists: Mutable — you can modify elements, add, or remove items.
    Tuples: Immutable — once created, they cannot be changed.

    Syntax:

    Lists: Defined with square brackets — [1, 2, 3]
    Tuples: Defined with parentheses — (1, 2, 3)

    Performance:

    Lists: Slightly slower than tuples due to mutability.
    Tuples: Faster and more memory-efficient.

    Use Case:

    Lists: Great when you need a dynamic, changeable collection (e.g., shopping cart).
    Tuples: Ideal for fixed data — like coordinates or function argument grouping.

    Safety:

    Lists: Higher risk of accidental modification.
    Tuples: Safer when data integrity is important.

4. Describe how dictionaries store data?
  - Dictionaries store data in key-value pairs. Each key is hashed to a unique index in an array where the corresponding value is stored.
  Example: dict = {'name': 'Amitava', 'age': 33}
  Here name is key while Amitava is value of key.

5. Why might you use a set instead of a list in Python?
  - A set in Python is an unordered collection of unique elements. While lists allow duplicates and preserve order, sets are your go-to when uniqueness and fast lookup matter.

    Reasons to Use a Set Over a List

    Eliminate Duplicates Automatically--- If we are collecting data where duplicates aren’t useful—like usernames, tags, or IDs—a set ensures each item is stored only once.

    Faster Membership Testing--- Checking if an item exists in a set is much faster than in a list thanks to hashing. Great for large datasets.

    Set Operations--- Sets support powerful operations like union, intersection, and difference perfect for filtering, merging, or finding commonalities between groups.

6. What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters enclosed within single quotes ('...') or double quotes ("..."). It’s used to represent text—like words, sentences, or even symbols.

    greeting = "Hello, world!"

    Strings are immutable, meaning once created, their contents can’t be changed. we can access characters by index, slice portions, or concatenate them, but any operation that modifies the string results in a new one.

    Strings vs Lists in Python

    Basic Nature

    A string is a sequence of characters, used to represent text.
    A list is a sequence of elements, which can be of any data type—numbers, strings, booleans, even other lists.
    Mutability

    Strings are immutable — you can’t change characters directly.
    Lists are mutable — you can modify, add, or remove elements.

7. How do tuples ensure data integrity in Python?
  - Since tuples are immutable in nature thats why, Once created, the elements of a tuple cannot be changed, ensuring that the data remains constant.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - Hash Table: A data structure that maps keys to values using a hash function to compute an index into an array of buckets or slots.

    Relation to Dictionaries: Python dictionaries are implemented using hash tables.
  
9. Can lists contain different data types in Python?
   - Yes: Lists can contain elements of different data types, such as integers, strings, and even other lists.
   eg, mylist=[1,'Amitava',3.5]

10. Explain why strings are immutable in Python?
  - Immutability helps with performance optimization, memory efficiency, and thread safety. It also allows strings to be used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Key-Value Mapping: Efficient for lookups, insertions, and deletions based on keys. Example: Storing user information where quick access to user details by username is needed.

12. Describe a scenario where using a tuple would be preferable over a list?
  - Storing coordinates of a point (x, y) where the values should not change.

13. How do sets handle duplicate values in Python?
  - Python set data structures inherently do not allow duplicate values. When we attempt to add duplicate values to a set, or when we create a set from an iterable that contains duplicates, the set will automatically discard the duplicates, storing only one instance of each unique element.

14. How does the “in” keyword work differently for lists and dictionaries?
  - In List "in" Checks for the presence of a value as an element.
    In Dictionary "in" checks for the presence of a key.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, we cannot modify the elements of a tuple in Python because Tuples are designed to be immutable, meaning that once a tuple is created, its contents are permanently fixed. we cannot add, remove, or change individual elements within it.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is the dictionary within another dictionary.
  nested_dict = {'user1': {'name': 'Amitava', 'age': 33}, 'user2': {'name': 'Ajay', 'age': 22}}

17. Describe the time complexity of accessing elements in a dictionary.
  - The time complexity of accessing elements in a Python dictionary (ie., looking up a value using its key) is, on average, O(1) (constant time).

18. In what situations are lists preferred over dictionaries?
  - When data naturally fits a sequence, where order and positional access are important, and duplicates are acceptable, a list is the preffered choice.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are designed for fast, direct access to values when we have the unique key. Their "unordered" nature means we trade index-based access for extremely efficient key-based retrieval, making them ideal for mapping and lookup tasks.
  We cannot retrieve items using integer indices like my_dict[0]. We must know the exact key to retrieve its associated value.
  Data retrieval is inherently driven by the key. If we don't know the key, we have to iterate through the dictionary's keys or values to find what we're looking for, which is less efficient than a direct key lookup.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists are for ordered collections where you want to retrieve "the Nth item," like List[1].
- while dictionaries are for unordered collections where you want to retrieve "the item named X. eg, my_dict = {'name': 'Amitava', 'age': 33, 'city': 'Durgapur'} person_name = my_dict['name'] person_age = my_age['age']

DATA TYPE AND DATA STRUCTURE PRACTICAL Q & A

In [ ]:
#Q1. Write a code to create a string with your name and print it.
# creating string
name= "Amitava"

#printing string
print(f"My name is {name}.")

My name is Amitava.

In [ ]:
#Q2. Write a code to find the length of the string "Hello World".
# creating string
str="hello"
lenght_str=len(str)

#printing length of string
print(f"Length of string is {lenght_str}.")

Length of string is 5.

In [ ]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming".

# creating string
str="Python Programming"

# slicing for first 3 characters
str[0:3]

'Pyt'

In [ ]:
#Q4. Write a code to convert the string "hello" to uppercase.

# creating string
str="hello"

# apply uppercase method
str.upper()

'HELLO'

In [ ]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

# Original string
String = "I like apple"

# Replacing 'apple' with 'orange'
repString = String.replace('apple', 'orange')

# Printing the updated string
print(repString)

I like orange

In [ ]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.
# Creating a list with numbers from 1 to 5
number_list = [1, 2, 3, 4, 5]

# Printing the list
print(f"list :{number_list}")

list :[1, 2, 3, 4, 5]

In [ ]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

# Original list
numbers = [1, 2, 3, 4]
print(f"original list : {numbers}")

# Appending the number 10
numbers.append(10)

# Printing the updated list
print(f" new list : {numbers}")

original list : [1, 2, 3, 4]
 new list : [1, 2, 3, 4, 10]

In [ ]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

# Original list
numbers = [1, 2, 3, 4, 5]
print(f"original list : {numbers}")

# Removing the number 3
numbers.remove(3)

# Printing the updated list
print(f" new list : {numbers}")

original list : [1, 2, 3, 4, 5]
 new list : [1, 2, 4, 5]

In [ ]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
# List of elements
letters = ['a', 'b', 'c', 'd']

# Accessing the second element
second_element = letters[1]

# Printing the second element
print("The second element is:", second_element)

The second element is: b

In [ ]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

# Original list
numbers = [10, 20, 30, 40, 50]
print(f"original list : {numbers}")

# Reversing the list
reversed_numbers = numbers[::-1]

# Printing the reversed list
print(f" reversed list : {reversed_numbers}")

original list : [10, 20, 30, 40, 50]
 reversed list : [50, 40, 30, 20, 10]

In [ ]:
#Q11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

# Creating a tuple with elements 100, 200, and 300
my_tuple = (100, 200, 300)

# Printing the tuple
print(my_tuple)

(100, 200, 300)

In [ ]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

# Tuple of colors
colors = ('red', 'green', 'blue', 'yellow')

# Accessing the second-to-last element
second_last = colors[-2]

# Printing the result
print("The second-to-last element is:", second_last)

The second-to-last element is: blue

In [ ]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

# Tuple of numbers
numbers = (10, 20, 5, 15)

# Finding the minimum number
minimum_value = min(numbers)

# Printing the result
print("The minimum number is:", minimum_value)

The minimum number is: 5

In [ ]:
#Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

# Tuple of animals
animals = ('dog', 'cat', 'rabbit')

# Finding the index of "cat"
cat_index = animals.index('cat')

# Printing the result
print("The index of 'cat' is:", cat_index)

The index of 'cat' is: 1

In [ ]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

# Creating a tuple with three fruits
fruits = ('apple', 'banana', 'mango')

# Checking if 'kiwi' is in the tuple
is_kiwi_present = 'kiwi' in fruits

# Printing the result
print("Is 'kiwi' in the tuple?", is_kiwi_present)

Is 'kiwi' in the tuple? False

In [ ]:
#Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

# Creating a set with elements 'a', 'b', and 'c'
my_set = {'a', 'b', 'c'}

# Printing the set
print(my_set)

{'b', 'c', 'a'}

In [ ]:
#Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

# Original set
alphSet =  {1, 2, 3, 4, 5}

# Clearing the set
clearSet = alphSet.clear()

# Printing the empty set
print(clearSet)

None

In [ ]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

# Original set
numbers = {1, 2, 3, 4}

# Removing the element 4
numbers.remove(4)

# Printing the updated set
print(numbers)

{1, 2, 3}

In [ ]:
#Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Compute the union
union_set = set1.union(set2)

# Display the result
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [ ]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

# Defining the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Finding the intersection
intersection = set1.intersection(set2)

# Printing the result
print("Intersection of sets:", intersection)

Intersection of sets: {2, 3}

In [ ]:
#Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

# Creating a dictionary with keys "name", "age", and "city"
person_info = {
    "name": "Amitava",
    "age": 33,
    "city": "Durgapur"
}

# Printing the dictionary
print(person_info)

{'name': 'Amitava', 'age': 33, 'city': 'Durgapur'}

In [ ]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

# Original dictionary
person = {'name': 'Amitava', 'age': 33}

# Adding a new key-value pair
person['country'] = 'India'

# Printing the updated dictionary
print(person)

{'name': 'Amitava', 'age': 33, 'country': 'India'}

In [ ]:
#Q23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

 # Dictionary with person info
person_info = {'name': 'Amitava', 'age': 33}

# Accessing the value for the key 'name'
name_value = person_info['name']

# Printing the result
print("Name:", name_value)

Name: Amitava

In [ ]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

# Original dictionary
person_info = {'name': 'Amitava', 'age': 33, 'city': 'Durgapur'}

# Removing the key 'age'
del person_info['age']

# Printing the updated dictionary
print(person_info)

{'name': 'Amitava', 'city': 'Durgapur'}

In [ ]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

# Dictionary to work with
person_info = {'name': 'Amitava', 'city': 'Durgapur'}

# Checking if 'city' key exists
has_city = 'city' in person_info

# Printing the result
print("Does 'city' exist in the dictionary?", has_city)

Does 'city' exist in the dictionary? True

In [ ]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('a', 'b', 'c')

# Creating a dictionary
my_dict = {'name': 'Amitava', 'age': 33, 'city': 'Durgapur'}

# Printing all the structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Amitava', 'age': 33, 'city': 'Durgapur'}

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[20, 42, 50, 66, 71]

In [ ]:
#Q28. Write a code to create a list with strings and print the element at the third index.

# Creating a list with strings
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(f"list : {words}")

# Accessing the element at the third index
third_index_element = words[3]

# Printing the result
print("Element at index 3:", third_index_element)

list : ['apple', 'banana', 'cherry', 'date', 'elderberry']
Element at index 3: date

In [ ]:
#Q29. Write a code to combine two dictionaries into one and print the result.

# Two dictionaries
dict1 = {'name': 'Amitava', 'age': 33}
dict2 = {'city': 'Durgapur', 'country': 'India'}
print(f"dict1 :{dict1}")
print(f"dict2 :{dict2}")

# Combine using update()
dict1.update(dict2)

# Printing the combined dictionary
print("Combined dictionary:", dict1)

dict1 :{'name': 'Amitava', 'age': 33}
dict2 :{'city': 'Durgapur', 'country': 'India'}
Combined dictionary: {'name': 'Amitava', 'age': 33, 'city': 'Durgapur', 'country': 'India'}

In [ ]:
#Q30.  Write a code to convert a list of strings into a set.

# List of strings
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
print(f"list of strings : {string_list}")
# Converting the list to a set
string_set = set(string_list)

# Printing the set
print("Set of strings:", string_set)

list of strings : ['apple', 'banana', 'cherry', 'apple', 'banana']
Set of strings: {'banana', 'apple', 'cherry'}